data/bird_dev/dev_databases/california_schools/database_description/frpm.csv
data/bird_dev/dev_databases/california_schools/database_description/satscores.csv
data/bird_dev/dev_databases/california_schools/database_description/schools.csv
data/bird_dev/dev_databases/card_games/database_description/cards.csv
data/bird_dev/dev_databases/card_games/database_description/foreign_data.csv
data/bird_dev/dev_databases/card_games/database_description/legalities.csv
data/bird_dev/dev_databases/card_games/database_description/rulings.csv
data/bird_dev/dev_databases/card_games/database_description/set_translations.csv
data/bird_dev/dev_databases/card_games/database_description/sets.csv
data/bird_dev/dev_databases/codebase_community/database_description/badges.csv
data/bird_dev/dev_databases/codebase_community/database_description/comments.csv
data/bird_dev/dev_databases/codebase_community/database_description/postHistory.csv
data/bird_dev/dev_databases/codebase_community/database_description/postLinks.csv
data/bird_dev/dev_databases/codebase_community/database_description/posts.csv
data/bird_dev/dev_databases/codebase_community/database_description/tags.csv
data/bird_dev/dev_databases/codebase_community/database_description/users.csv
data/bird_dev/dev_databases/codebase_community/database_description/votes.csv
data/bird_dev/dev_databases/debit_card_specializing/database_description/customers.csv
data/bird_dev/dev_databases/debit_card_specializing/database_description/gasstations.csv
data/bird_dev/dev_databases/debit_card_specializing/database_description/products.csv
data/bird_dev/dev_databases/debit_card_specializing/database_description/transactions_1k.csv
data/bird_dev/dev_databases/debit_card_specializing/database_description/yearmonth.csv
data/bird_dev/dev_databases/european_football_2/database_description/Country.csv
data/bird_dev/dev_databases/european_football_2/database_description/League.csv
data/bird_dev/dev_databases/european_football_2/database_description/Match.csv
data/bird_dev/dev_databases/european_football_2/database_description/Player_Attributes.csv
data/bird_dev/dev_databases/european_football_2/database_description/Player.csv
data/bird_dev/dev_databases/european_football_2/database_description/Team_Attributes.csv
data/bird_dev/dev_databases/european_football_2/database_description/Team.csv
data/bird_dev/dev_databases/financial/database_description/account.csv
data/bird_dev/dev_databases/financial/database_description/card.csv
data/bird_dev/dev_databases/financial/database_description/client.csv
data/bird_dev/dev_databases/financial/database_description/disp.csv
data/bird_dev/dev_databases/financial/database_description/district.csv
data/bird_dev/dev_databases/financial/database_description/loan.csv
data/bird_dev/dev_databases/financial/database_description/order.csv
data/bird_dev/dev_databases/financial/database_description/trans.csv
data/bird_dev/dev_databases/formula_1/database_description/circuits.csv
data/bird_dev/dev_databases/formula_1/database_description/constructorResults.csv
data/bird_dev/dev_databases/formula_1/database_description/constructors.csv
data/bird_dev/dev_databases/formula_1/database_description/constructorStandings.csv
data/bird_dev/dev_databases/formula_1/database_description/drivers.csv
data/bird_dev/dev_databases/formula_1/database_description/driverStandings.csv
data/bird_dev/dev_databases/formula_1/database_description/lapTimes.csv
data/bird_dev/dev_databases/formula_1/database_description/pitStops.csv
data/bird_dev/dev_databases/formula_1/database_description/qualifying.csv
data/bird_dev/dev_databases/formula_1/database_description/races.csv
data/bird_dev/dev_databases/formula_1/database_description/results.csv
data/bird_dev/dev_databases/formula_1/database_description/seasons.csv
data/bird_dev/dev_databases/formula_1/database_description/status.csv
data/bird_dev/dev_databases/student_club/database_description/attendance.csv
data/bird_dev/dev_databases/student_club/database_description/budget.csv
data/bird_dev/dev_databases/student_club/database_description/event.csv
data/bird_dev/dev_databases/student_club/database_description/expense.csv
data/bird_dev/dev_databases/student_club/database_description/income.csv
data/bird_dev/dev_databases/student_club/database_description/major.csv
data/bird_dev/dev_databases/student_club/database_description/member.csv
data/bird_dev/dev_databases/student_club/database_description/zip_code.csv
data/bird_dev/dev_databases/superhero/database_description/alignment.csv
data/bird_dev/dev_databases/superhero/database_description/attribute.csv
data/bird_dev/dev_databases/superhero/database_description/colour.csv
data/bird_dev/dev_databases/superhero/database_description/gender.csv
data/bird_dev/dev_databases/superhero/database_description/hero_attribute.csv
data/bird_dev/dev_databases/superhero/database_description/hero_power.csv
data/bird_dev/dev_databases/superhero/database_description/publisher.csv
data/bird_dev/dev_databases/superhero/database_description/race.csv
data/bird_dev/dev_databases/superhero/database_description/superhero.csv
data/bird_dev/dev_databases/superhero/database_description/superpower.csv
data/bird_dev/dev_databases/thrombosis_prediction/database_description/Examination.csv
data/bird_dev/dev_databases/thrombosis_prediction/database_description/Laboratory.csv
data/bird_dev/dev_databases/thrombosis_prediction/database_description/Patient.csv
data/bird_dev/dev_databases/toxicology/database_description/atom.csv
data/bird_dev/dev_databases/toxicology/database_description/bond.csv
data/bird_dev/dev_databases/toxicology/database_description/connected.csv
data/bird_dev/dev_databases/toxicology/database_description/molecule.csv
data/bird_dev/dev_databases/california_schools/california_schools.sqlite
data/bird_dev/dev_databases/card_games/card_games.sqlite
data/bird_dev/dev_databases/codebase_community/codebase_community.sqlite
data/bird_dev/dev_databases/debit_card_specializing/debit_card_specializing.sqlite
data/bird_dev/dev_databases/european_football_2/european_football_2.sqlite
data/bird_dev/dev_databases/financial/financial.sqlite
data/bird_dev/dev_databases/formula_1/formula_1.sqlite
data/bird_dev/dev_databases/student_club/student_club.sqlite
data/bird_dev/dev_databases/superhero/superhero.sqlite
data/bird_dev/dev_databases/thrombosis_prediction/thrombosis_prediction.sqlite
data/bird_dev/dev_databases/toxicology/toxicology.sqlite
